{% extends 'content/base.html' %}
{% block title %}Videos{% endblock %}

{% block content %}
<h2>Video List</h2>
<div class="row">
    {% for video in videos %}
        <div class="col-md-4 mb-3">
            <div class="card">
                {% if video.thumbnail %}
                    <img src="{{ video.thumbnail.url }}" class="card-img-top" alt="{{ video.title }}">
                {% else %}
                    <img src="https://via.placeholder.com/300" class="card-img-top" alt="No thumbnail available">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ video.title }}</h5>
                    <p class="card-text">{{ video.description|truncatewords:15 }}</p>
                    <a href="{% url 'video_detail' video.id %}" class="btn btn-primary">Watch</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
